.navbar{
    background-color: rgb(2, 69, 7);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
  }
.retour-icon{
    height: 30px;
    left: 0px;
  
}
.cart-link {
    color: white;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .cart-icon {
    width: 50px;
  }

  .cart-text {
    color: white;
    margin-top: 2px;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    right: 2px;
  }
  
  .cart-quantity {
    color: rgb(240, 136, 4);
    font-size: 16px;
    font-weight: 700;
  
    position: absolute;
    top: 20px;
   right: 22px;
    
    width: 26px;
    text-align: center;
  }
.logo{
    height: 50px;
    border-radius: 20px;
}

.drinks{ display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.imge{
  width: 250px;
  height: 200px;
  padding-right: 10px;

}
span{
  font-size: large;
  font-weight: bold;
}
.quantity-selector{
  border-radius: 5px;
  background-color:black;
  color: white;
  margin-top: 15px;;
}
button{
  background-color:black;
  color: white;
  
}

.bonus{
  padding-top: 100px;
  font-size:large;
  color: black;
  width: fit-content;
  display: flex;
  text-decoration: none;
  font-size: large;
  
}
p{
  font-size:26px; 
  font-weight:500;     
  margin-bottom:5px; 
  padding-bottom:3px;
  text-decoration: underline;
  
}
h1{
  margin-top: 100px;
  font-size:13px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  margin-top: 100px;
  display: grid;
  place-items: center;
}
.container1{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 margin-bottom: 40px;
}
.container3{
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  margin-top: 100px;
  display: grid;
  place-items: center;
}
.snack-img{
  padding-left: 20px;
}
.imge{
  width: 100%;
  border-width: 2px;
  border-radius: 30px;
}
footer {
  background: linear-gradient(135deg, rgb(1, 49, 5), rgb(3, 85, 10));
  color: beige;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  padding: 0 20px;
  backdrop-filter: blur(6px);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 -4px 25px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

/* Icons */
.phone-icon, .instagram-icon, .waiter-icon {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.phone-icon {
  width: 22px;
  height: 22px;
  padding: 15px;
}

.instagram-icon {
  width: 32px;
  height: 32px;
  padding-top: 8px;
  padding-right: 5px;
}

.waiter-icon {
  width: 60px;
  height: 55px;
}

/* Items container */
.phone, .instagram, .call-waiter {
  display: flex;
  align-items: center;
}

.call-waiter {
  flex-direction: column;
  gap: 3px;
  text-align: center;
}

.waiter-link {
  text-decoration: none;
}

/* Hover effects */
.instagram:hover .instagram-icon,
.phone:hover .phone-icon,
.waiter-link:hover .waiter-icon {
  transform: scale(1.15);
  opacity: 0.85;
}

/* Text */
.number, .waiter-call {
  color: white;
}

.number {
  font-size: 15px;
  letter-spacing: 0.5px;
}

.waiter-call {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.1;
}
