.Margerita-button{
    height: 120px;
    width: 120px;
        background-image:url(/images/plats/pizza/margerita.jpg); 
        background-size: cover;
        background-repeat: no-repeat; 
        border-width: 2px; 
        cursor: pointer;
        margin-top: 5px;
        border-radius: 10px;
        margin-bottom: 30;
}
.viande-button{
    height: 120px;
    width: 120px;
    background-image:url(/images/plats/pizza/viande.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
    border-width: 2px; 
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 30;
}
.Mer-button{
    height: 120px;
    width: 120px;
    background-image:url(/images/plats/pizza/Mer.JPG); 
    background-size: cover;
    background-repeat: no-repeat; 
    border-width: 2px; 
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 30;
}
.fromage-button{
    height: 120px;
    width: 120px;
    background-image:url(/images/plats/pizza/Fromage.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
    border-width: 2px; 
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 30;
}
.Végétarienne-button{
    height: 120px;
    width: 120px;
    background-image:url(/images/plats/pizza/végétarienne.JPG); 
    background-size: cover;
    background-repeat: no-repeat; 
    border-width: 2px; 
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 30;
}
.pepe-button{
    height: 120px;
    width: 120px;
    background-image:url(/images/plats/pizza/peperoni.JPG); 
    background-size: cover;
    background-repeat: no-repeat; 
    border-width: 2px; 
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 30;
}
.poulet-button{
    height: 120px;
    width: 120px;
    background-image:url(/images/plats/pizza/poulet.JPG); 
    background-size: cover;
    background-repeat: no-repeat; 
    border-width: 2px; 
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 30;
}
.thon-button{
    height: 120px;
    width: 120px;
    background-image:url(/images/plats/pizza/thon.JPG); 
    background-size: cover;
    background-repeat: no-repeat; 
    border-width: 2px; 
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 30;
}
.mixte-button{
    height: 120px;
    width: 120px;
    background-image:url(/images/plats/pizza/mixte.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
    border-width: 2px; 
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 30;
}
.Gusto-button{
    height: 120px;
    width: 120px;
    background-image:url(/images/plats/pizza/Gusto.png); 
    background-size: cover;
    background-repeat: no-repeat; 
    border-width: 2px; 
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 30;
}
.Gustoo{
    color: red;
}
.gusto-description{
    font-size: small;
}
.mixte-gusto{
    padding-top: 50px;
}